<div class="wrapper" *ngIf="tweet">
  <div class="avatar-wrapper">
    <twitter-clone-ws-ui-user-avatar></twitter-clone-ws-ui-user-avatar>
  </div>
  <div class="content-wrapper">
    <div class="header-wrapper">
      <div class="user-details">
        <b>User's name</b> @tagname ·
        {{ tweet.createdAt | timeAgo }}
      </div>
      <div class="menu-button">
        <div class="icon-container">
          <i class="gg-more"></i>
        </div>
      </div>
    </div>
    <div class="tweet-wrapper">{{ tweet.body }}</div>
    <div class="menu-wrapper">
      <div class="menu-button">
        <div class="icon-container">
          <i class="gg-comment"></i>
        </div>
      </div>
      <div class="menu-button">
        <div class="icon-container">
          <i class="gg-export"></i>
        </div>
      </div>
      <div class="menu-button">
        <div class="icon-container">
          <i class="gg-heart"></i>
        </div>
      </div>
      <div class="menu-button">
        <div class="icon-container">
          <i class="gg-sync"></i>
        </div>
      </div>
    </div>
  </div>
</div>
