/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  outline-color: var(--blue-200);
}


.fieldset {
  .fieldset-item {
    input {
      width: 100%;
      height: 50px;
      padding-left: 10px;
      font-size: var(--font-l);
      border: 1px solid var(--gray-400);
    }

    &.error {
      label {
        color: var(--red-100);
      }

      input {
        color: var(--red-100);
        border: 1px solid var(--red-100);
      }

      .fieldset-item-error {
        color: var(--red-100);
      }
    }
  }
}