.wrapper {
  display: grid;
  grid-template-columns: minmax(80px, 35vw) max-content;
  padding-right: 20vw;
  height: 100vh;
  gap: 10px;

  .sidebar-wrapper {
  }

  .main-wrapper {
    border-left: 1px solid #efefef;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    gap: 50px;
  }

  .router-wrapper {
    min-width: 40vw;
  }

  .trending-wrapper {
  }
}

@media screen and (max-width: 1025px) {
  .trending-wrapper {
    display: none;
  }
}
