<div class="wrapper">
  <div class="avatar-wrapper">
    <twitter-clone-ws-ui-user-avatar></twitter-clone-ws-ui-user-avatar>
  </div>
  <div class="create-wrapper">
    <div class="form-wrapper">
      <textarea autoresize placeholder="What's happening?"></textarea>
    </div>

    <div class="menu-wrapper">
      <div class="buttons-wrapper">
        <div class="menu-button">
          <div class="icon-container">
            <i class="gg-image"></i>
          </div>
        </div>
        <div class="menu-button">
          <div class="icon-container">
            <i class="gg-album"></i>
          </div>
        </div>
        <div class="menu-button">
          <div class="icon-container">
            <i class="gg-align-left"></i>
          </div>
        </div>
        <div class="menu-button">
          <div class="icon-container">
            <i class="gg-smile"></i>
          </div>
        </div>
        <div class="menu-button">
          <div class="icon-container">
            <i class="gg-calendar"></i>
          </div>
        </div>
        <div class="menu-button">
          <div class="icon-container">
            <i class="gg-pin"></i>
          </div>
        </div>
      </div>
      <twitter-clone-ws-ui-button
        [text]="'Tweet'"
        [isSmall]="true"
      ></twitter-clone-ws-ui-button>
    </div>
  </div>
</div>
