<div class="wrapper">
    <h1>Sign Up!</h1>
    <form [formGroup]="form">
        <fieldset class="fieldset">
            <div class="fieldset-item" [ngClass]="{
                'error': form?.get('firstName')?.errors && form?.get('firstName')?.touched
              }">
                <label for="firstName">First Name</label>
                <input type="firstName" formControlName="firstName" name="firstName">
                <div class="fieldset-item-error"
                    *ngIf="form?.get('firstName')?.errors && form?.get('firstName')?.touched">
                    <ng-container *ngIf="form?.get('firstName')?.errors?.required">
                        Please provide your first name.
                    </ng-container>
                </div>
            </div>
            <div class="fieldset-item" [ngClass]="{
                'error': form?.get('lastName')?.errors && form?.get('lastName')?.touched
              }">
                <label for="lastName">Last Name</label>
                <input type="lastName" formControlName="lastName" name="lastName">
                <div class="fieldset-item-error"
                    *ngIf="form?.get('lastName')?.errors && form?.get('lastName')?.touched">
                    <ng-container *ngIf="form?.get('lastName')?.errors?.required">
                        Please provide your last name.
                    </ng-container>
                </div>
            </div>
            <div class="fieldset-item" [ngClass]="{
                'error': form?.get('email')?.errors && form?.get('email')?.touched
              }">
                <label for="email">Email</label>
                <input type="email" formControlName="email" name="email">
                <div class="fieldset-item-error" *ngIf="form?.get('email')?.errors && form?.get('email')?.touched">
                    <ng-container *ngIf="form?.get('email')?.errors?.required">
                        Please provide a valid email address.
                    </ng-container>
                </div>
            </div>
            <div class="fieldset-item" [ngClass]="{
                'error': form?.get('password')?.errors && form?.get('password')?.touched
              }">
                <label for="password">Password</label>
                <input type="password" formControlName="password" name="password">
                <div class="fieldset-item-error"
                    *ngIf="form?.get('password')?.errors && form?.get('password')?.touched">
                    <ng-container *ngIf="form?.get('password')?.errors?.required">
                        Please provide a password.
                    </ng-container>
                </div>
            </div>
            <div class="fieldset-item">
                <div class="buttons-container">
                    <twitter-clone-ws-ui-button type="submit" [text]="'Next'">
                    </twitter-clone-ws-ui-button>
                </div>
            </div>
        </fieldset>
    </form>
</div>